@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #00b9e8;
    
}

body {
    background-color:#F5F5FF;


}

nav {
    width: 90dvw;
    margin: .5em auto;
    height: 3em;
    border-bottom: 2px white solid;

    ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 3em;
        font-size: 100%;
    }

    li {
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;


    }

    a {
        font-size: 1.5em;
        text-decoration: none;
        transition: all .3s ease-in;
    }
    
    a:hover {
        transform: scale(1.1);
        border-bottom: 2px #CFCCFF solid;
    }
}

.logo {
width: 70dvw;
height: auto;
margin: 0 auto;
gap:.5em;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-size: 2em;

}

main {
    margin: .5em auto;
    width: 90dvw;
    height: auto;
    font-size: 1.3em;

    .teamGrid{
        width: 80%;
        margin: 1em auto;
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: 1em;
        height: auto;
    }

    .teamGrid .headShot {
        align-items: center;
        border-radius: .5em;
    }
    
       .headShot img {
            border-radius: .5em;
            height: 100%;
            width: 100%;
        }

    .teamGrid .bioInfo {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: .5em;
        
    }

    .bioInfo .line {
        width: 50%;
        border-bottom: 2px #CFCCFF solid;
        margin: .5em;
    }
}

.socials {
width: 60dvw;
margin: 0 auto;
display: flex;
justify-content: center;
align-items: center;
gap: 1em;

 div{
    height: 50px;
 }

}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}



/* #3CC2FB
    #CFCCFF
     #443DFF
*/