@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
    scroll-behavior: smooth;
}


body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, textarea {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    color: #00b9e8;
}


body {
    background-color:#F5F5FF;


}

nav {
    width: 100dvw;
    margin: 0 auto .5em auto;
    height: auto;
    border-bottom: 2px white solid;
    background-color: #F5F5FF;


}

.logo {
width: 70dvw;
height: auto;
margin: 1em auto;
gap:.5em;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
    
}

.logo img{
    max-width: 100%;
    min-height:100%;
}

.tacs {
    width: 75%;
    margin: 1em auto;
    padding: 1.2em;
    background-color: #ffffff;
    border: 2px #3CC2FB solid;
    border-radius: .5em;;
    height: auto;
    padding: .5em;


}

.looping-video-container { 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em auto;
    width: 80%;
    height: 80%;
    background-color:#F5F5FF;
}


video {
    width: 100%;
    height: 100%;
    outline: none;
    clip-path: inset(5px 5px);
}

.Cancellation {
    width: 75%;
    margin: 1em auto;
    padding: 1.2em;
    background-color: #ffffff;
    border: 2px #3CC2FB solid;
    border-radius: .5em;;
    height: auto;
    padding: 20px;

}


/* Media Queries */

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 575.98px) {

    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 80%;
        height: auto;
        font-size: 100%;
        margin: 0 auto;

            a {

                text-decoration: none;
                transition: all .3s ease-in;
                width: 100%;

                li {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    list-style: none;
                    margin: .5em;
                    font-size: 4vw;
            
                }
            }
    
        a:hover {
            transform: scale(1.1);
            border-bottom: 2px #CFCCFF solid;
        }
    }

    .teamGrid{
        width: 90%;
        margin: 1em auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: .5em;
        height: auto;
    }

    .teamGrid .headShot {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: .5em;
        height: 50%;
        width: 50%;
    }
    
       .headShot img {
        max-width: 100%;
        height: auto;
        border-radius: 0.5em;
        }

    .teamGrid .bioInfo {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: .5em;
        width: 100%;
        height: 100%;
        
    }

    .logo a {

        text-decoration: underline;
        color: blue;
    }

    .socials {
        margin: 1em;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1em;
        height: auto;

        div{
            height: 100%;
            width: 50%;
        }

        a{
            height: 100%;
        }
    
    }

    .awardingBodies {
        width: 70%;
        height: auto;
        margin: .5em auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1em;
    
        img {
            height: 5em;
            width: auto;
    
        }
    }

    main {
        margin: .5em auto;
        width: 90dvw;
        height: auto;
    
    
        .bioInfo .line {
            width: 50%;
            border-bottom: 2px #CFCCFF solid;
            margin: .5em;
        }
        
        h1{
            text-align: center;
            font-size: 7vw;
        }
        h2{
            text-align: center;
            font-size: 5vw;
        }
        h3{
            text-align: center;
            font-size: 4.5vw;
        }

        h4{
            font-size: 4vw;
        }
    
        p {
            font-size: 4vw;
        }
    
        .line {
            width: 90%;
            border-bottom: 2px #CFCCFF solid;
            margin: 1em auto;
        }
    
        .tacsline {
            width: 50%;
            border-bottom: 2px #CFCCFF solid;
            margin: .5em auto;
        }
    
        .tacInfo {
            width: 75%;
            height: auto;
            margin: 0 auto;
        }
    
    }

    /* Slideshow container */
    .slideshow-container {
        max-width: 100dvw;
        position: relative;
        border-radius: .5em;
        margin: 10px auto;
        padding: .5em;
    
        .active {
            background-color: #717171;
            }
    
                /* Caption text */
        .text {
            color: #f2f2f2;
            font-size: 15px;
            padding: 8px 12px;
            position: absolute;
            bottom: 8px;
            width: 100%;
            text-align: center;
            }
        
        }
    
        /* Fading animation */
        .fade {
        animation: fadeinout 4s ;
        }
    
        @keyframes fadeinout {
    
        0%{
            opacity: .4;
        }
    
    }
    
        .mySlides {
            display: none;
            border-radius: .5em;
        }
    
        img {
        vertical-align: middle;

    }

    
.homepagegrid{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
    width: 90%;
    margin: 1em auto;
    height: auto;
    border: 2px #3CC2FB solid;
    border-radius: .5em;
    background-color: #ffffff;
    padding: .5em;

    .homeinfo {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        
    }



    img {
        width: 100%;
        border-top-right-radius: .5em;
        border-top-left-radius: .5em;
    }

    p {
        text-align: center;

    }
}

.homepagegrid2{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
    width: 90%;
    margin: 1em auto;
    height: auto;
    border: 2px #3CC2FB solid;
    border-radius: .5em;
    background-color: #ffffff;
    padding: .5em;

    .homeinfo {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

    }

    img {
        width: 100%;
        border-bottom-right-radius: .5em;
        border-bottom-left-radius: .5em;
        
    }

    p {
        text-align: center;
    }
}

.contact-grid {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
    margin: 1.5em auto;


    .map {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .map iframe {
        width: 100%;
        height: 40dvh;
    }

    .addressInfo {
        width: 80%;
        height: 100%;
        text-align: center;
        margin: 0 auto;
    } 

    .addressInfo .line {
        width: 50%;
        border-bottom: 2px #CFCCFF solid;
        margin: .5em auto;
    }

    .addressInfo p {
        font-size: 3vw;
    }
} 

.contact-grid > div {
    width: 100%;
    height: 100%;
    margin: 1em auto;
    padding: 10px;
    border: 2px #3CC2FB solid;
    border-radius: .5em;
    background-color: #ffffff;
}

.priceListArea {
    width: 90%;
    margin: 1em auto;
    height: auto;
    background-color: #ffffff;
    border: 2px #3CC2FB solid;
    border-radius: .5em;

    .line {
        width: 90%;
        border-bottom: 2px #CFCCFF solid;
        margin: .5em auto;
    }
    
}

.priceList{
    width: 100%;
    display: grid;
    grid-template-columns: 80% 20%;
    height: auto;
    padding: 1em;
}

.service {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

.price {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

.rating-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    padding: 1em;
    border-radius: 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    width: 100%;
    margin: 0 auto;
}



textarea {
    border: 2px #3CC2FB solid;
    border-radius: 0.5em;
    margin: 1em auto;
    font-size: medium;
    width: 60vw;
    min-width: 270px;
    height: 150px;
    text-align: center;
    padding: 10px;
}

.reviews-area {
    margin: 1em auto;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
    background: #fff;
    padding: 25px 50px 35px;
    border-radius: 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);

}

.review {
    border: 2px #3CC2FB solid;
    border-radius: .5em;
    padding: 10px;
    text-align: center;
    
    
}

.review .line {
    width: 80%;
    border-bottom: 2px #CFCCFF solid;
    margin: .5em auto;
}

#review .name {
    text-align: center;
    border: 2px #3CC2FB solid;
    border-radius: .5em;
    margin: 1em auto;
    font-size: medium;
    min-width: 270px;
    width: 20vw;
}

 .submitForm {
    padding: 10px;
    color: #3CC2FB;
    text-decoration: solid;
    background-color: #e6e6e6;
    border-radius: .5em;
    border: 2px #3CC2FB solid;
 }

 .submitForm:hover {
    cursor: pointer;
    background-color: #9fdffa;
}

    footer {
        background-color: #F5F5FF;
        color: #00b9e8;
        padding: 20px 0;
        text-align: center;
        border-top: 2px solid #CFCCFF;
    }
    
    .footer-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

    }
    
    .footer-section {
        margin: 20px;
        flex: 1;
        min-width: 200px;
    }
    
    .footer-section h3 {

        margin-bottom: 10px;
    }
    
    .footer-section ul {
        display: block;
        list-style: none;
        padding: 0;
    }
    
    .footer-section ul li {
        margin-bottom: 10px;
    }
    
    .footer-section a {
        color: #00b9e8;
        text-decoration: none;
    }
    
    .footer-section a:hover {
        text-decoration: underline;
    }

    .footer-bottom {
        width: 100%;
        height: auto;
    
        img {
            width:200px;
            height: 120px;
        }
    }
    
    .social-links {
        display: flex;
        justify-content: center;
        gap: 10px;
    }
    
    .social-links img {
        width: 50px;
        height: 50px;
    }

    .collapsible {
        color: #3CC2FB;
        cursor: pointer;
        padding: 10px;
        width: 100%;
        border: 2px #CFCCFF solid;
        text-align: center;
        outline: none;
        font-size: 4vw;
        margin: 10px auto;
      }
      
      .active {
        background-color: #f1f1f1;
        border-bottom: none;
    
      }
      
      .content {
        margin-top: -10px;
        padding: 10px;
        display: none;
        overflow: hidden;
        background-color: #ffffff;
        text-align: left;
        border: 2px #CFCCFF solid;
        border-top: none;
    
        h3{
            text-align: left;
        }
      }
    
      .FQs {
        width: 75%;
        margin: 1em auto;
        padding: 1.2em;
        background-color: #ffffff;
        border: 2px #3CC2FB solid;
        border-radius: .5em;;
        height: auto;
        padding: .5em;
    
    }
}





/* Medium devices (tablets, 768px and up) */
@media (min-width: 576px) and (max-width: 849.98px) {

    nav {
        ul {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
            width: 80%;
            height: auto;
            font-size: 100%;
            margin: 0 auto;

            a {
                font-size: 2em;
                text-decoration: none;
                transition: all .3s ease-in;

                    
                li {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    list-style: none;
                    margin: .5em;
            
            
                }

            }

            a:hover {
                transform: scale(1.1);
                border-bottom: 2px #CFCCFF solid;
            }
        }
    }



    .teamGrid{
        width: 90%;
        margin: 1em auto;
        display: grid;
        grid-template-columns: 30% 70%;
        gap: .5em;
        height: auto;
        padding: 2em;
        background-color: #ffffff;
        border: 2px #3CC2FB solid;
        border-radius: .5em;
        
    }

    .teamGrid .headShot {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: .5em;
        height: 95%;
        width: 95%;
    }
    
       .headShot img {
        max-width: 100%;
        height: auto;
        border-radius: 0.5em;
        }

    .teamGrid .bioInfo {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: .5em;
        width: 100%;
        height: 100%;
        
    }

    .logo {
        font-size: 1.8vw;

        a {
            text-decoration: underline;
            color: blue;
            font-size: inherit;
    
        }
    }


    .awardingBodies {
        width: 70%;
        height: auto;
        margin: .5em auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1em;
    
        img {
            height: 5em;
            width: auto;
    
        }
    }
    

    main {
        margin: .5em auto;
        width: 90dvw;
        height: auto;
    
    
        .bioInfo .line {
            width: 50%;
            border-bottom: 2px #CFCCFF solid;
            margin: .5em;
        }
        
        h1{
            text-align: center;
            font-size: 3.5vw;
        }
        h2{
            text-align: center;
            font-size: 3vw;
        }
        h3{
            text-align: center;
            font-size: 2.75vw;
        }
        
        h4{
            font-size: 2.5vw;
        }
    
        p {
            font-size: 2.5vw;
        }
    
        .line {
            width: 90%;
            border-bottom: 2px #CFCCFF solid;
            margin: 1em auto;
        }
    
        .tacsline {
            width: 50%;
            border-bottom: 2px #CFCCFF solid;
            margin: .5em auto;
        }
    
        .tacInfo {
            width: 75%;
            height: auto;
            margin: 0 auto;
        }
    
    }

    /* Slideshow container */
    .slideshow-container {
        max-width: 100dvw;
        position: relative;
        border-radius: .5em;
        margin: 10px auto;
        padding: .5em;
    
        .active {
            background-color: #717171;
            }
    
                /* Caption text */
        .text {
            color: #f2f2f2;
            font-size: 15px;
            padding: 8px 12px;
            position: absolute;
            bottom: 8px;
            width: 100%;
            text-align: center;
            }
        
        }
    
        /* Fading animation */
        .fade {
        animation: fadeinout 4s ;
        }
    
        @keyframes fadeinout {
    
        0%{
            opacity: .4;
        }
    
    }
    
        .mySlides {
            display: none;
            border-radius: .5em;
        }
    
        img {
        vertical-align: middle;

    }

    
.homepagegrid{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    width: 90%;
    margin: 1em auto;
    height: auto;
    border: 2px #3CC2FB solid;
    border-radius: .5em;
    background-color: #ffffff;
    padding: .5em;

    .homeinfo {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

    }



    img {
        width: 100%;
        border-top-left-radius: .5em;
        border-top-right-radius: .5em;
    }

    p {
        text-align: center;
        
    }
}

.homepagegrid2{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    width: 90%;
    margin: 1em auto;
    height: auto;
    border: 2px #3CC2FB solid;
    border-radius: .5em;
    background-color: #ffffff;
    padding: .5em;

    .homeinfo {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

    }

    img {
        width: 100%;
        border-bottom-left-radius: .5em;
        border-bottom-right-radius: .5em;
        
    }

    p {
        text-align: center;
    }
}

.contact-grid {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    margin: 1.5em auto;


    .map {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .map iframe {
        width: 100%;
        height: 100%;
    }

    .addressInfo {
        width: 80%;
        height: 100%;
        text-align: center;
        margin: 0 auto;
    } */

    .addressInfo .line {
        width: 50%;
        border-bottom: 2px #CFCCFF solid;
        margin: .5em auto;
    }
} 

.contact-grid > div {
    width: 100%;
    height: 100%;
    margin: 1em auto;
    padding: 10px;
    border: 2px #3CC2FB solid;
    border-radius: .5em;
    background-color: #ffffff;
}

.priceListArea {
    width: 90%;
    margin: 1em auto;
    height: auto;
    background-color: #ffffff;
    border: 2px #3CC2FB solid;
    border-radius: .5em;

    .line {
        width: 90%;
        border-bottom: 2px #CFCCFF solid;
        margin: .5em auto;
    }
    
}

.priceList{
    width: 100%;
    display: grid;
    grid-template-columns: 80% 20%;
    height: auto;
    padding: 1em;
}

.service {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

.price {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

.rating-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    padding: 1em;
    border-radius: 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    width: 100%;
    margin: 0 auto;
}



textarea {
    border: 2px #3CC2FB solid;
    border-radius: 0.5em;
    margin: 1em auto;
    font-size: medium;
    width: 60vw;
    min-width: 270px;
    height: 150px;
    text-align: center;
    padding: 10px;
}

.reviews-area {
    margin: 1em auto;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
    background: #fff;
    padding: 25px 50px 35px;
    border-radius: 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);

}

.review {
    border: 2px #3CC2FB solid;
    border-radius: .5em;
    padding: 10px;
    text-align: center;
    width: 48%;
    
}

.review .line {
    width: 80%;
    border-bottom: 2px #CFCCFF solid;
    margin: .5em auto;
}

#review .name {
    text-align: center;
    border: 2px #3CC2FB solid;
    border-radius: .5em;
    margin: 1em auto;
    font-size: medium;
    min-width: 270px;
    width: 20vw;
}

 .submitForm {
    padding: 10px;
    color: #3CC2FB;
    text-decoration: solid;
    background-color: #e6e6e6;
    border-radius: .5em;
    border: 2px #3CC2FB solid;
 }

 .submitForm:hover {
    cursor: pointer;
    background-color: #9fdffa;
}

    footer {
        background-color: #F5F5FF;
        color: #00b9e8;
        padding: 20px 0;
        text-align: center;
        border-top: 2px solid #CFCCFF;
        font-size: 2.5vw;
    }
    
    .footer-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

    }
    
    .footer-section {
        margin: 20px;
        flex: 1;
        min-width: 200px;
    }
    
    .footer-section h3 {
        font-size: 1.5em;
        margin-bottom: 10px;
    }
    
    .footer-section p,
    .footer-section ul {
        font-size: 1em;
        line-height: 1.5em;
    }
    
    .footer-section ul {
        list-style: none;
        padding: 0;
    }
    
    .footer-section ul li {
        margin-bottom: 10px;
    }
    
    .footer-section a {
        color: #00b9e8;
        text-decoration: none;
    }
    
    .footer-section a:hover {
        text-decoration: underline;
    }
    
    .social-links {
        display: flex;
        justify-content: center;
        gap: 10px;
    }
    
    .social-links img {
        width: 50px;
        height: 50px;
    }

    .socials {
        margin: 1em;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1em;
        height: auto;

        div{
            height: 100%;
            width: 25%;
        }

        a{
            height: 100%;
        } 

        img{
            width: 50%;
        }
    }

    .footer-bottom {
        width: 100%;
        height: auto;
    
        img {
            width:200px;
            height: 120px;
        }
    }

    .collapsible {
        color: #3CC2FB;
        cursor: pointer;
        padding: 10px;
        width: 100%;
        border: 2px #CFCCFF solid;
        text-align: center;
        outline: none;
        font-size: 2vw;
        margin: 10px auto;
      }
      
      .active {
        background-color: #f1f1f1;
        border-bottom: none;
    
      }
      
      .content {
        margin-top: -10px;
        padding: 10px;
        display: none;
        overflow: hidden;
        background-color: #ffffff;
        text-align: left;
        border: 2px #CFCCFF solid;
        border-top: none;
    
        h3{
            text-align: left;
        }
      }
    
      .FQs {
        width: 75%;
        margin: 1em auto;
        padding: 1.2em;
        background-color: #ffffff;
        border: 2px #3CC2FB solid;
        border-radius: .5em;;
        height: auto;
        padding: .5em;
    
    }
    
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 850px) {

    nav {
        ul {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
            width: 80%;
            height: auto;
            font-size: 100%;
            margin: 0 auto;

            a {
                font-size: 2em;
                text-decoration: none;
                transition: all .3s ease-in;

                    
                li {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    list-style: none;
                    margin: .5em;
            
            
                }

            }

            a:hover {
                transform: scale(1.1);
                border-bottom: 2px #CFCCFF solid;
            }
        }
    }
    

    .teamGrid{
        width: 90%;
        margin: 1em auto;
        display: grid;
        grid-template-columns: 30% 70%;
        gap: .5em;
        height: auto;
        padding: 2em;
        background-color: #ffffff;
        border: 2px #3CC2FB solid;
        border-radius: .5em;
        
    }

    .teamGrid .headShot {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: .5em;
        height: 95%;
        width: 95%;
    }
    
       .headShot img {
        max-width: 100%;
        height: auto;
        border-radius: 0.5em;
        }

    .teamGrid .bioInfo {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: .5em;
        width: 100%;
        height: 100%;
        
    }


    .logo {
        font-size: 1.8vw;

        a {
            text-decoration: underline;
            color: blue;
            font-size: inherit;
    
        }
    }

    .awardingBodies {
        width: 70%;
        height: auto;
        margin: .5em auto;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        gap: 1em;
    
        img {
            height: 5em;
            width: auto;
    
        }
    }
    
    

    main {
        margin: .5em auto;
        width: 90dvw;
        height: auto;
    
    
        .bioInfo .line {
            width: 50%;
            border-bottom: 2px #CFCCFF solid;
            margin: .5em;
        }
        
        h1{
            text-align: center;
            font-size: 3vw;
        }
        h2{
            text-align: center;
            font-size: 2vw;
        }
        h3{
            text-align: center;
            font-size: 1.5vw;
        }
        
        h4{
            font-size: 1.4vw;
        }
    
        p {
            font-size: 1.4vw;
        }
    
        .line {
            width: 90%;
            border-bottom: 2px #CFCCFF solid;
            margin: 1em auto;
        }
    
        .tacsline {
            width: 50%;
            border-bottom: 2px #CFCCFF solid;
            margin: .5em auto;
        }
    
        .tacInfo {
            width: 75%;
            height: auto;
            margin: 0 auto;
        }
    
    }

    /* Slideshow container */
    .slideshow-container {
        max-width: 60dvw;
        position: relative;
        border-radius: .5em;
        margin: 10px auto;
        padding: .5em;
    
        .active {
            background-color: #717171;
            }
    
                /* Caption text */
        .text {
            color: #f2f2f2;
            font-size: 15px;
            padding: 8px 12px;
            position: absolute;
            bottom: 8px;
            width: 100%;
            text-align: center;
            }
        
        }
    
        /* Fading animation */
        .fade {
        animation: fadeinout 4s ;
        }
    
        @keyframes fadeinout {
    
        0%{
            opacity: .4;
        }
    
    }
    
        .mySlides {
            display: none;
            border-radius: .5em;
        }
    
        img {
        vertical-align: middle;

    }


.homepagegrid{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1em;
    width: 90%;
    margin: 1em auto;
    height: auto;
    border: 2px #3CC2FB solid;
    border-radius: .5em;
    background-color: #ffffff;
    padding: .5em;

    .homeinfo {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

    }



    img {
        border-radius: .5em;
        width: 100%;
    }

    p {
        text-align: center;

        a{
            font-size: 1.4em;
        }
    }
}

.homepagegrid2{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1em;
    width: 90%;
    margin: 1em auto;
    height: auto;
    border: 2px #3CC2FB solid;
    border-radius: .5em;
    background-color: #ffffff;
    padding: .5em;

    .homeinfo {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

    }

    img {
        border-radius: .5em;

        width: 100%;
    }

    p {
        text-align: center;

        
        a{
            font-size: 1.4em;
        }
    }
}

.priceListArea {
    width: 90%;
    margin: 1em auto;
    height: auto;
    background-color: #ffffff;
    border: 2px #3CC2FB solid;
    border-radius: .5em;

    .line {
        width: 90%;
        border-bottom: 2px #CFCCFF solid;
        margin: .5em auto;
    }
    
}

.priceList{
    width: 100%;
    display: grid;
    grid-template-columns: 80% 20%;
    height: auto;
    padding: 1em;
}

.service {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

.price {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

.contact-grid {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    margin: 1.5em auto;


    .map {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .map iframe {
        width: 100%;
        height: 100%;
    }

    .addressInfo {
        width: 80%;
        height: 100%;
        text-align: center;
        margin: 0 auto;
    } */

    .addressInfo .line {
        width: 50%;
        border-bottom: 2px #CFCCFF solid;
        margin: .5em auto;
    }
} 

.contact-grid > div {
    width: 100%;
    height: 100%;
    margin: 1em auto;
    padding: 10px;
    border: 2px #3CC2FB solid;
    border-radius: .5em;
    background-color: #ffffff;
}

.rating-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    padding: 1em;
    border-radius: 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    width: 100%;
    margin: 0 auto;
}

textarea {
    border: 2px #3CC2FB solid;
    border-radius: 0.5em;
    margin: 1em auto;
    font-size: medium;
    width: 60vw;
    min-width: 270px;
    height: 150px;
    text-align: center;
    padding: 10px;
}

.reviews-area {
    margin: 1em auto;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
    background: #fff;
    padding: 25px 50px 35px;
    border-radius: 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);

}

.review {
    border: 2px #3CC2FB solid;
    border-radius: .5em;
    padding: 10px;
    text-align: center;
    width: 30%;    
    
}

.review .line {
    width: 80%;
    border-bottom: 2px #CFCCFF solid;
    margin: .5em auto;
}

#review .name {
    text-align: center;
    border: 2px #3CC2FB solid;
    border-radius: .5em;
    margin: 1em auto;
    font-size: medium;
    min-width: 270px;
    width: 20vw;
}

 .submitForm {
    padding: 10px;
    color: #3CC2FB;
    text-decoration: solid;
    background-color: #e6e6e6;
    border-radius: .5em;
    border: 2px #3CC2FB solid;
 }

 .submitForm:hover {
    cursor: pointer;
    background-color: #9fdffa;
}

    footer {
        background-color: #F5F5FF;
        color: #00b9e8;
        padding: 20px 0;
        text-align: center;
        border-top: 2px solid #CFCCFF;
        font-weight: 0;
    }
    
    .footer-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        
    }
    
    .footer-section {
        margin: 20px;
        flex: 1;
        min-width: 200px;
        
    }
    
    .footer-section h3 {
        font-size: 1.5em;
        margin-bottom: 10px;
    }
    
    .footer-section p,
    .footer-section ul {
        font-size: 1.5vw;
        line-height: 1.5em;
    }
    
    .footer-section ul {
        list-style: none;
        padding: 0;
    }
    
    .footer-section ul li {
        margin-bottom: 10px;
    }
    
    .footer-section a {
        color: #00b9e8;
        text-decoration: none;

    }
    
    .footer-section a:hover {
        text-decoration: underline;
    }

    .footer-bottom {
        width: 100%;
        height: 150px;
    
        img {
            width:200px;
            height: 120px;
        }
    }
    
    .social-links {
        display: flex;
        justify-content: center;
        gap: 10px;
    }
    
    .social-links img {
        width: 50px;
        height: 50px;
    }

    .socials {
        margin: 1em;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1em;
        height: auto;

        div{
            height: 100%;
            width: 25%;
        }

        a{
            height: 100%;
        } 

        img{
            width: 25%;
        }
    }

    .collapsible {
        color: #3CC2FB;
        cursor: pointer;
        padding: 10px;
        width: 100%;
        border: 2px #CFCCFF solid;
        text-align: center;
        outline: none;
        font-size: 2vw;
        margin: 10px auto;
      }
      
      .active {
        background-color: #f1f1f1;
        border-bottom: none;
    
      }
      
      .content {
        margin-top: -10px;
        padding: 10px;
        display: none;
        overflow: hidden;
        background-color: #ffffff;
        text-align: left;
        border: 2px #CFCCFF solid;
        border-top: none;
    
        h3{
            text-align: left;
        }
      }
    
      .FQs {
        width: 75%;
        margin: 1em auto;
        padding: 1.2em;
        background-color: #ffffff;
        border: 2px #3CC2FB solid;
        border-radius: .5em;;
        height: auto;
        padding: .5em;
    
    }
    
}